<div id="project_summary"
    class="gc1s12 grid gtc12 ggap1-00
    items-center justify-center
    ph1-00 mb1-00 min-h14-00
    "
    >
    <article id="consultants_info" 
        class="gc1s6 gr1s1 
            gc1s4-s 
            gc1s3-m
            gc1s3-l
            w14-00-xl"
    >
        <div
            class="w-100 h0-00 pb-100 pa0-50
                bg-blue0 flex flex-column
                br0-50 white-90"
        >
            <hgroup 
                class="mb1-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Project Coordinator
                </h2>
                <p class="mb0-25">
                    {{ project.coordinator }}
                </p>
            </hgroup>
            <hgroup 
                class="mb0-00"
            >
                <h2 class="mb0-50 f0-75 white-60"
                >
                    Project Leads
                </h2>
                <ul class="mb0-25">
                    {% for project_lead in project_leads %}
                    <li>{{project_lead}}</li>
                    {% endfor %}
                </ul>
            </hgroup>

        </div>
    </article>

    <article id="project_jobsheet" 
        class="gc7s6 gr2s1 
        gc9s4-s
        gc7s3-m gr1s1-m
        gc4s3-l
        gc4s3-xl
        w14-00-xl"
    >
        <div class="w-100 h0-00 pb-100 pa0-50 
            bg-blue0 white-90
            br0-50"
        >
            <hgroup 
                class="mb1-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Client
                </h2>
                <p class="mb0-25">
                    {{project.client}}
                </p>     
            </hgroup>
            <hgroup 
                class="mb0-50"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Total Floor Area
                </h2>
                <p class="mb0-25">
                    {{project.total_floor_area}} m<sup>2</sup>
                </p>     
            </hgroup>
            <hgroup 
                class="mb0-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Cost
                </h2>
                <p class="mb0-25">
                    GHC {{project.cost}} million
                </p>     
            </hgroup>
        </div> 
    </article>
    
    <article id="project_dates" 
        class=" gc7s6 gr1s1 
            gc5s4-s
            gc4s3-m
            gc7s3-l
            w14-00-xl"
    >
        <div 
            class="w-100 h0-00 pb-100 pa0-50 
            bg-blue2 white-90
            br0-50"
        >
            <hgroup 
                class="mb1-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Start Date
                </h2>
                <p class="mb0-25">
                    {{ project.start_date|date:'F, Y' }}
                </p>     
            </hgroup>
            <hgroup 
                class="mb1-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Completed Date
                </h2>
                <p class="mb0-25">
                    {{ project.completed_date|date:'F, Y' }}
                </p>     
            </hgroup>
        </div> 
    </article>


    <article id="project_info" 
        class="gc1s6 gr2s1 
        gc5s4-s
        gc10s3-m gr1s1-m 
        gc10s3-l 
        w14-00-xl"
    >
       <div 
            class="w-100 h0-00 pb-100 pa0-50
            bg-blue1 white-90
            br0-50"
        >
            <hgroup 
                class="mb1-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Job Sheets 
                </h2>
                <a href=""
                    class=""
                >
                    <p class="mb0-25">
                        English
                    </p>
                </a>     
            </hgroup>
            <hgroup 
                class="mb0-00"
            >
                <h2 class="mb0-50 f0-75 white-60">
                    Certifications
                </h2>
                <ul class="mb0-25">
                    {% for project_certification in project_certifications %}
                    <li>{{project_certification}}</li>
                    {% endfor %}
                </ul>  
            </hgroup>
            
        </div> 
    </article>
    <article id="blank_1" 
        class="gc9s4 gc9s1-xl gr1s1-xl"
    >
        <div 
            class="dn dib-s dn-m  h0-00 w-100 w11-00-l pb-100
            bg-blue4 white-90 pa0-50
            br0-50 ba"
        >
        </div> 
    </article>
    <article id="blank_2" 
        class=" gc1s4 gr2s1
            "
    >
        <div 
            class="dn dib-s dn-m h0-00 w-100 pb-100
            bg-blue0 white-90 pa0-50
            br0-50 ba bw1 b--white-90"
        >
        </div> 
    </article>
</div>