<div id="projects_page_Nav"
    class="grid gtc12 gc1s12 ggap1-00
        pa1-00
        white-90
        f1-00  tracked-tight
        bg-blue0
        "
>
    <div id="projectCategories--nav1" 
        class="gr1s1 gc2s1
            w10-00 h10-00
            bg-blue0
            br0-50 ba shadow-yellow"
    >
        <ul id = "projectCategories_list_1"
            class="
            pa0-50">
           {% for projectCategory in projectCategories_list_1 %}
                <li class="mb0-50">
                    <a href="{% url 'website:project-category-details' projectCategory.slug %}"
                    class="white-90">
                        {{ projectCategory.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>   
    </div>
    
    <div id="projectCategories--nav2" 
        class="gr1s1 gc3s1
            w10-00 h10-00 
            bg-blue0
            br0-50 ba shadow-yellow"
    >
        <ul id = "projectCategories_list_2"
            class="flex flex-column justify-start
                w-100, h-100
                pa0-50"
        >
            {% for projectCategory in projectCategories_list_2 %}
                <li class="mb0-50">
                    <a href="{% url 'website:project-category-details' projectCategory.slug %}"
                    class="white-90 ">
                        {{ projectCategory }}
                    </a>
                </li>
            {% endfor %}
        </ul>  
    </div>
    <div id="projects" 
        class="gr1s1 gc1s1
            w10-00 h10-00 
            bg-blue0
            br0-50 ba shadow-yellow"
    >
        <ul id = "projects"
            class="flex flex-column justify-start
                w-100, h-100
                pa0-50"
        >
            
                <li class="mb0-50">
                    <a href="{% url 'website:projects-home' %}"
                    class="white-90 ">
                        All Projects
                    </a>
                </li>
           
        </ul>  
    </div>

    <div id="project_info" 
        class="gr1s1 gc12s1
            flex items-center justify-center
            w10-00 h10-00 shadow-yellow"
    >
        <ul id = ""
            class="gr1s1 gc11s2
                w-100 h-100
                pa0-50
                blue0
                bg-white
                ba br0-50"
        >
            <li class="">
                <a  href="{% url 'website:projects-list' %}"
                    class="blue0" 
                >Projects List</a>
            </li>     
            <li class="">
                <a  href="{% url 'website:projects-maps-home' %}"
                    class="blue0" 
                >Projects Map</a> 
            </li>     
            <li class="">
                <a  href="{% url 'website:project-films-home' %}"
                    class="blue0"    
                >Films</a>
            </li>     
        </ul> 
    </div>

    <div id="project_misc_1" 
        class="gr1s1 gc6s2
            bg-blue3  h-100 w-100
            br0-50
            "
    >
    </div>

    <div id="project_misc_2" 
        class="gr1s1 gc4s2
            h-100 w-100
            bg-gold
            br0-50
            "
    >
    </div>
</div>